.htaccess
.env
composer.lock
vendor/
node_modules/
*.log
.DS_Store
Thumbs.db
database/barangay_stotomas.sql
database/schema.sql
database/add_profile_picture.sql
database/schema.sql
database/add_payment_proof.sql
database/add_payment_method.sql
